body {
	background: #232323;
	color: #aaa;
	font-size: 10px;
}
.keys {
	border: 1px solid #555;
	margin: 3px;
	padding: 2px;
	font-family: sans-serif;
	background: #000;
	color: #ccc;
	font-size: 1.2em;
}
li {
	list-style: none;
	background: #444;
	padding: 5px;
	margin: 6px 0;
	transition: opacity 0.2s ease-in-out;
}
.key.selected {
	font-weight: bold;
}
li.filtered {
	opacity: 0.5;
}
li.opening, .key.selected {
	background: #567;
}
ul {
	padding-left: 0;
}